<div class="container">
    <h1 (click)="signout()">salir</h1>
    <div class="subcontainer">
        <h1 class="title">LAST GAMES</h1>
        <div class="games">
            <div class="game">
                <span style="margin-top: 1em;">ID GAME: </span>
                <div class="teams">
                    <div class="blue-team">
                        <span>BLUE TEAM</span>
                        <div class="player">
                            <img src="https://i.pinimg.com/564x/f9/7b/54/f97b545b0264dbeadc22b863b1b53fe4.jpg" alt="" height="85px">
                            <span>p</span>
                            <span>p</span>
                            <span>p</span>
                        </div>
                    </div>
                    <div class="red-team">
                        <span>RED TEAM</span>
                        <div class="player">
                            <img src="https://i.pinimg.com/564x/f9/7b/54/f97b545b0264dbeadc22b863b1b53fe4.jpg" alt="" height="85px">

                        </div>
                    </div>
                </div>
            </div>
        </div>


































    </div>
</div>