<div class="login" *ngIf="!usuerStatus">
        <div class="auth" >
            <div *ngIf="!isSingUp" style="display: flex; flex-direction: column;  align-items: center; ">
                <h3>Sign in to lolstats</h3>
                <form [formGroup]="form" class="form">
                        <input [ngClass]="form.controls.userName.valid === false ? 'input' : 'input valid'" formControlName="userName" type="text texto-izquierda" placeholder="User">
                        <input [ngClass]="form.controls.password.valid === false ? 'input' : 'input valid'" formControlName="password" type="password" placeholder="Password">
                        <button id="email-auth-container" [disabled]="!form.valid" class="btn " (click)="login()">
                            <span>Login</span>
                        </button>
                </form>
                <span>OR</span>
                <div class="auth-types">
                    <div class="google" id="firebaseui-auth-container">
                        <!-- <div style="display: none;" *ngIf="!usuerStatus"></div> -->
                    </div>
                    <!-- <div class="google">
    
                    </div>
                    <div class="google">
                    
                    </div> -->
                </div>
                <p style="margin-top: 2em;">If havent account click <span (click)="isLoginInterface('signUp')">here</span></p>
            </div>
            <div *ngIf="isSingUp" style="display: flex; flex-direction: column;  align-items: center; ">
                <h3 style="text-align: center;">Registrer Now</h3>
                <form [formGroup]="form" class="form">
                    <input [ngClass]="form.controls.userName.valid === false ? 'input' : 'input valid'" formControlName="userName" type="text texto-izquierda" placeholder="User">
                    <input [ngClass]="form.controls.password.valid === false ? 'input' : 'input valid'" formControlName="password" type="password" placeholder="Password">
                    <button id="email-auth-container" [disabled]="!form.valid" class="btn " (click)="signUp()">
                        <span>Sign Up</span>
                    </button>
            </form>
            <p style="margin-top: 2em;">Already registred? Click <span (click)="isLoginInterface('login')">here</span></p>
            </div>
       </div> 
</div>

<!-- <div *ngIf="usuerStatus" class="nav">
    <ul *ngFor="let item of menu">
        <li><a routerLink="{{item.route}}">{{item.name}}</a></li>
    </ul>
</div> -->

<nav class="navbar">
    <div class="navbar-box">
        <div class="nav-img">
            <img routerLink="/" width="150px" height="auto" src="../assets/img/logo.png" alt="">
        </div>
        <div class="nav-links">
            <ul>
                <li *ngFor="let item of menu" [routerLink]="item.route">{{item.name}}</li>
            </ul>
        </div>
        <div class="nav-avatar" *ngIf="user$ | async as user"  [matMenuTriggerFor]="profileMenu">
            <img class="avatar" title="{{user.displayName}}" src="{{user.photoURL}}" alt="">
        </div>
        <mat-menu #profileMenu>
            <div class="profile-container">
                <button class="button-profile" (click)="signOut()">Salir</button>
            </div>
        </mat-menu>
    </div>
</nav>

<router-outlet class="container"></router-outlet>
