
<div class="container">
    <div class="subcontainer">
        <h1 class="title">ADD STATS FROM GAME</h1>
    </div>
    <div *ngIf="game">
        <h1 *ngFor="let item of game.players">{{item.name}}</h1>
    </div>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>ENTER GAME ID</mat-label>
            <input formControlName="gameId" matInput type="number" placeholder="GAME ID">
          </mat-form-field>
    </form>
    <button  mat-button (click)="getGameStats()" color="secondary">SEARCH</button>
</div>