.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: beige;
}

.subcontainer {
    width: 80%;
    background-color: aliceblue;
}

.title {
    text-align: center;

}