.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.accounts {
    width: 50%;
    height: auto;
    margin-top: 1em;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        text-align: center;
    }
    align-items: center;
}

.add-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: 1em;
    min-width: 292px;
}

.input-summoner {
    position: relative;
    border: 0;
    margin-bottom: 1em;
    height: 25px;
    background-color: transparent;
    border: 1px solid rgba(0, 34, 68, 0.479);  
    border-radius: 10px;
    font-family: monospace;
    padding: 0.2em;
    text-align: center;
    transition: text-align 3s ease-in;
  }

.form-verification {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1em;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    padding: 20px 10px;
    cursor: pointer;
}

.verification {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.account {
    display: flex;
    height: 60px;
    border: 1px solid grey;
    margin: 0.5em 1em;
    padding: 10px 10px;
}

.details-account, .soloq, .flex {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.soloq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gold;
    width: 60px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: silver;
    width: 60px;
}